<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden YummY?</h3>
                    <p>
                        Modern mutfak tekniklerini geleneksel aromalarla harmanlıyor, damak hafızanızda iz bırakacak reçeteler oluşturuyoruz. Sadece bir yemek değil, her anında keyif dolu bir atmosfer vadeden YummY dünyasında, kalitemizden asla ödün vermeden sizi ağırlıyoruz.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Özenle Seçilen Doğal Malzemeler</h4>
                            <p>En taze ve doğal ürünleri seçiyor, hijyen kurallarından asla taviz vermeden her tabağı özenle hazırlıyoruz.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Ayrıcalıklı ve Şık Sunumlar</h4>
                            <p>Misafirlerimize sadece yemek değil, şık bir atmosferde kendilerini özel hissedecekleri bir deneyim sunuyoruz.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Eşsiz ve Özgün Reçeteler</h4>
                            <p>Geleneksel tatları modern yorumlarla birleştirerek, başka yerde bulamayacağınız imza lezzetler oluşturuyoruz.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section>